@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyriadProLight";
  src: url("/MyriadPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MyriadProSemibold";
  src: url("/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@layer base {
  body {
    font-family: "MyriadProLight", sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #252525;
  background: linear-gradient(15deg, #101010 0%, #252525 100%);

  color: #fff;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
}
::-webkit-scrollbar-track {
  background-color: #000000;
}

.small .react-colorful {
  width: 120px;
  height: 120px;
}

.small .react-colorful__saturation-pointer {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

.small .react-colorful__hue-pointer {
  width: 1px;
  height: 15px;
  border-radius: 3px;
}

.ovarlay {
  background: #00000053;
  border-radius: 0px 10px 10px 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.ovarlay2 {
  background: #00000053;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.loader {
  width: 130px;
  height: 170px;
  position: relative;
  font-family: inherit;
}

.loader::before,
.loader::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 30px;
  left: 15px;
  z-index: 1;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 20px solid #1b2a33;
  transform: scale(0);
  transition: all 0.2s ease;
}

.loader::after {
  border-right: 15px solid transparent;
  border-bottom: 20px solid #162229;
}

.loader .getting-there {
  width: 120%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: -7%;
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
}

.loader .binary {
  width: 100%;
  height: 140px;
  display: block;
  color: white;
  position: absolute;
  top: 0;
  left: 15px;
  z-index: 2;
  overflow: hidden;
}

.loader .binary::before,
.loader .binary::after {
  font-family: "Lato";
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.loader .binary:nth-child(1)::before {
  content: "0";
  animation: a 1.1s linear infinite;
}

.loader .binary:nth-child(1)::after {
  content: "0";
  animation: b 1.3s linear infinite;
}

.loader .binary:nth-child(2)::before {
  content: "1";
  animation: c 0.9s linear infinite;
}

.loader .binary:nth-child(2)::after {
  content: "1";
  animation: d 0.7s linear infinite;
}

.loader.JS_on::before,
.loader.JS_on::after {
  transform: scale(1);
}

@keyframes a {
  0% {
    transform: translate(30px, 0) rotate(30deg);
    opacity: 0;
  }

  100% {
    transform: translate(30px, 150px) rotate(-50deg);
    opacity: 1;
  }
}

@keyframes b {
  0% {
    transform: translate(50px, 0) rotate(-40deg);
    opacity: 0;
  }

  100% {
    transform: translate(40px, 150px) rotate(80deg);
    opacity: 1;
  }
}

@keyframes c {
  0% {
    transform: translate(70px, 0) rotate(10deg);
    opacity: 0;
  }

  100% {
    transform: translate(60px, 150px) rotate(70deg);
    opacity: 1;
  }
}

@keyframes d {
  0% {
    transform: translate(30px, 0) rotate(-50deg);
    opacity: 0;
  }

  100% {
    transform: translate(45px, 150px) rotate(30deg);
    opacity: 1;
  }
}
