@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyriadProLight";
  src: url("/MyriadPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MyriadProSemibold";
  src: url("/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@layer base {
  body {
    font-family: "MyriadProLight", sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #d60000; */
  background: linear-gradient(15deg, #101010 0%, #252525 100%);

  color: #fff;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
}
::-webkit-scrollbar-track {
  background-color: #000000;
}

.small .react-colorful {
  width: 80px;
  height: 80px;
}

.small .react-colorful__saturation-pointer {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

.small .react-colorful__hue-pointer {
  width: 1px;
  height: 12px;
  border-radius: 3px;
}

.ovarlay {
  background: #00000053;
  border-radius: 0px 10px 10px 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.ovarlay2 {
  background: #00000053;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.glassy {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}
